

@import 'comon.css';

:root{
	--primary:#3DCFD3;
	--dark:#161616;
	--pure:#ffffff;
	--ternary:#898989;
	--light:#F2F2F2;
	--secondary:#070606;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	--webkit-font-smotting:antialiased;
}
.container{
	max-width: 1152px;
	padding: 0 15px;
	margin: 0 auto;
}

header{
	background:var(--dark);
	clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}
header nav{
	margin: auto;
	padding: 35px 0px;
}
header nav .branding{
	margin-right: 45px;
}

header nav .left a{
	text-decoration: none;
	color:var(--pure);
	text-transform: uppercase;
	margin-right: 35px;
	transition: all .3s ease;
}

header nav .left a:hover{
	color:var(--primary);
}



.hero{
	padding: 50px 0;
}
.hero .left img{
	width: 400px;
}
.hero .right{
	color:var(--pure);
	margin-top: -7rem;
}
.hero .right h6{
	font-size: 25px;
	margin-bottom: 8px;
	color:var(--primary);
}
.hero .right h1{
	font-size: 4rem;
	margin-bottom: 35px;
	font-weight: 100;
	line-height: 1.2;
}

.hero .right h1 span{
	color:var(--primary);
}
.hero .right p{
	line-height: 1.9;
	margin-bottom: 35px;
}




section{
	padding: 6rem 0;
}
section.about .about-me-images{
	height: 450px;
}
section.about h1{
	margin-bottom: 1rem;
	font-size: 1.6rem;
	font-weight: 400;
}
section.about h1 span{
	color:var(--primary);
}
section.about h3{
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 400;
}
section.about p{
	color:var(--ternary);
	line-height: 1.9;
	margin-bottom: 1.3rem;
}
section.about .social{
	display: flex;
}
section.about .social a{
	background:var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .3s ease;
}
section.about .social a img{
	width:100%;
	height:100%;
	padding: 0.5rem;
}
section.about .social a:hover{
	background:var(--primary);
	transform: translate(0, -20%);
}




.section-heading{
	color:var(--secondary);
	text-align: center;
	margin-bottom: 1rem;
	line-height: 0.5;
}
.section-heading span{
	color:var(--primary);
}
.section-heading + p{
	color:var(--ternary);
	margin-bottom: 6rem;
	text-align: center;
}
section.services{
	background:var(--light);
}
section.services .card-wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2rem;
	grid-row-gap: 6rem;
}
section.services .card-wrapper .card{
	background:var(--pure);
	padding: 3rem 2rem;
	position: relative;
	padding-top: 5rem;
	text-align: center;
	transition: all .3s ease;
}
section.services .card-wrapper .card img{
	position: absolute;
	top: -3.5rem;
	left: 50%;
	transform: translatex(-50%);
}
section.services .card-wrapper .card h2{
	font-weight: 400;
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
	color:var(--ternary);
	line-height:1.6;
}
section.services .card-wrapper .card:hover{
	background:var(--dark);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
	color:var(--pure);
}



section.freelancer{
	text-align: center;
	background:rgba(0,0,0,0.7)url(../images/camera.png);
	background-size: cover;
	background-blend-mode: darken;
	color: var(--pure);
	clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
	padding-bottom: 14rem;
}
section.freelancer h1{
	font-size: 2rem;
	margin-bottom: 0.7rem;
}
section.freelancer p{
	margin-bottom: 2.2rem;
}


footer{
	background-color: rgb(39, 35, 35);
	color: #fff;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
footer h2{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
}
footer .text{
	justify-content: center;
	align-items: center;
	width: 800px;
	margin: 0 auto;
	margin-top: 25px;
}
footer .text p{
	text-align: center;
	font-size: 20px;
}

footer .social{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
footer .social a{
	background:var(--dark);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .3s ease;
}
footer .social a img{
	width:100%;
	height:100%;
	padding: 0.5rem;
}
footer .social a:hover{
	background:var(--primary);
	transform: translate(0, -20%);
}

footer .copy{
    justify-content: center;
    align-items: center;
	text-align: center;
	font-size: 25px;
	font-weight:bold;
	margin-top: 30px;
	padding-bottom: 30px;
}


 /* mobile view */
@media (min-width: 576px) {
	.container{
		max-width: 584px;
	}
}

 /* tablet view */
@media (min-width: 768px) {
	.container{
		max-width: 720px;
	}
}

  /* mini laptop view */
@media (min-width: 992px) {
	.container{
		max-width: 960px;
	}
}

 /* laptop view */
@media (min-width: 1200px) {
	.container{
		max-width: 1152px;
	}
}